<div class="view">
  <div class="layout layout--row layout--top">
    <div class="grid grid--cols-2 gap--medium">
      <div class="item">
        <div class="meta"></div>
        <div class="content">
          <div class="label label--medium">Full</div>
          <div class="description">Replace me with your content!</div>
        </div>
      </div>
    </div>
  </div>

  <div class="title_bar">
    <img class="image" src="https://usetrmnl.com/images/brand/glyphs/glyph--black.svg" />
    <span class="title">Plugin Template</span>
    <span class="instance">{{ trmnl.plugin_settings.instance_name }}</span>
  </div>
</div>
